<!--navbar start-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-muted">
    <div class="container">
        <a class="navbar-brand" href="#">2DOLIST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--begin collapse menu-->
        <div class="collapse navbar-collapse" id="collapseMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-5">
                    <a class="nav-link text-dark" href="#">>Registereren</a>
                </li>
                <li class="nav-item">
                    <a href="login" class="btn btn-primary my-2 my-sm-0">Inloggen</a>
                </li>
            </ul>
        </div><!--end collapse-->
    </div>
</nav><!--navbar end-->